@import "../../variables.scss";

.main {
  &__container {
    display: flex;

    @media (max-width: 920px) {
      display: block;
    }
  }
}

.toys-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  width: 100%;
  margin-left: 50px;

  @media (max-width: 920px) {
    margin-left: 0;
  }

  &.empty {
    display: flex;
    align-items: center;
    font-family: $font_frozen;
    font-weight: 700;
    font-size: 64px;
    text-transform: uppercase;
    text-shadow: 1px 0 1px #000, 0 1px 1px #000,
                -1px 0 1px #000, 0 -1px 1px #000;
  }
}
