@import "../../variables.scss";

.settings {
  position: sticky;
  top: 20px;
  max-width: 380px;
  max-height: calc(100vh - 240px);

  @media (max-width: 920px) {
    position: static;
    top: auto;
    max-height: none;
    margin: 0 auto 100px;
  }

  @media (max-width: 540px) {
    margin: 0 auto 140px;
  }

  &__title {
    margin-bottom: 10px;
    font-family: $font_gilroy;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    text-shadow: 1px 0 1px #000, 0 1px 1px #000,
                -1px 0 1px #000, 0 -1px 1px #000;
  }

  .settings__buttons {
    display: flex;
    justify-content: space-between;
  }
}

.reset-button {
  width: 180px;
  height: 40px;
  padding: 8px 20px;
  font-family: $font_gilroy;
  font-weight: 500;
  font-size: 18px;
  text-shadow: 1px 0 1px #000, 0 1px 1px #000,
              -1px 0 1px #000, 0 -1px 1px #000;
  color: #fff;
  background-color: rgb(17, 113, 179, .3);
  border-radius: 20px;
  border: 2px solid #abc4e0;
  backdrop-filter: blur(6px);
  transition: box-shadow .5s;

  &:hover {
    box-shadow: 0 0 10px #fff, 0 0 10px #ffd700,
                0 0 30px #fff, 0 0 30px #ffd700;
    transition: box-shadow .5s;
  }

  &:first-child {
    margin-right: 10px;
  }

  &_active {
    animation: decrease .3s;
  }
}
