@import "../../variables.scss";

.filters {
  margin-bottom: 25px;

  &__text {
    margin: 0 15px 0 0;
    font-family: $font_gilroy;
    font-weight: 500;
    font-size: 22px;
    text-shadow: 1px 0 1px #000, 0 1px 1px #000,
                -1px 0 1px #000, 0 -1px 1px #000;
  }
}
